
.block {
  display: block;
}

.clear {
    clear: both;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.status_cat table, th, td {
    border-collapse: separate;
    border: 1px solid black;
}

#footer {
    border-top: 1px solid #cacaca;
    padding-top: 8px;
}

#footer .container {
    text-align: center;
}

#header {
    border-bottom: 1px solid #cacaca;
    padding-top: 8px;
    padding-bottom: 8px;
}

#header .block {
    float: left;
}

#header #title {
    font-weight: bold;
    font-size: xx-large;
    display: block;
}

#header #tag {
    font-style: italic;
    display: block;
}

#logo {
    width: 98px;
    height: 80px;
    float: left;
}

#page {
    padding-top: 8px;
    padding-bottom: 8px;
}

#footer {
    font-size: xx-small;
}
