<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag 'logo.png', :id =>'logo' %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <% [ :meter_cat, :report_cat, :spec_cat, :split_cat, :status_cat ].each do |project| %>
          <% css = request.fullpath.include?( project.to_s ) ? 'active' : '' %>
          <% action = "/#{project}" %>
          <% name = t( :title, :scope => [ :projects, project ] ) %>
          <%= content_tag( :li, link_to( name, action ), :class => css ) %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% css = request.fullpath == '/' ? 'active' : '' %>
      <% name = t( :home, :scope => :application ) %>
      <%= content_tag( :li, link_to( name, '/' ), :class => css ) %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>